@charset "UTF-8";


<!--이 부분은 mypage section-padding, inner header css입니다 -->

 .section-padding {
     padding: 100px 0;
}
 .inner-header1 {
     background: rgba(0, 0, 0, 0) url("../img/swiss.jpg") repeat scroll center top / 100% auto;
     position: relative;
}

<!-- END 이 부분은 mypage section-padding, inner header css입니다 -->



